/* Body styles */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F6F6F6;
  }

/* Fonts */
body{
    font-family: 'Merriweather Sans', sans-serif;
}
h1, h2, h3{
    font-family: 'Merriweather', serif;
    color: black !important
}
h1{
    font-size: 42px !important;
}
h2{
    font-size: 32px !important;
}
h3{
    font-size: 22px !important;
}

p, a{
    font-size: 16px !important;
    color: black !important;
}

/* Header & nav styles */

header{
    background-color: #3F52E3;
}

.nav-container{
    padding: 10px 20px !important;
}

.navbar a{
    color: #F6F6F6;
    text-decoration: none;
    font-size: 20px !important;
    color: #F6F6F6 !important
}

.navbar a:hover{
    color: #F6F6F6;
    text-decoration: 2px solid underline;
    text-underline-position: under;
}

a.active {
    color: #F6F6F6 !important;
    text-decoration: 2px solid underline;
    text-underline-position: under;
}

.navbar-brand:hover{
    text-decoration: none !important;
}

.navbar-nav li{
    margin-left: 10px;
}

.nav-item button {
    background-color: #F6F6F6;
    color:#3F52E3;
    padding: 5px 15px;
    border: none;
}

/* Main */

main{
    flex: 1;
    margin: 40px auto;
    
  }

/* Links */

main a{
    text-decoration: none !important;
    color:#3F52E3 !important;
    font-style: italic;
}

main a:hover{
    text-decoration: underline !important;
    text-underline-position: under;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    Background-color: #3F52E3;
    padding: 20px 60px;
}

footer p{
    margin: 0;
    color: #F6F6F6 !important;
}

















/* Messages */

.message {
    width: 600px;
    padding: 1rem;
    border: 1px solid grey;
    color: grey;
}

.error {
    margin-top: 10px;
    border-color: red;
    color: black;
    background: transparent;
}

.success {
    margin-top: 10px;
    border-color: green;
    color: white;
    background: green;
}

.filter{
    margin-top: 10px;
    border-color: red;
    color: black;
    background: transparent;  
}

  
  .message-error {
    border:2px solid red;
    color: red;;
    background: transparent;
   
    padding: 10px;
    margin: 5px 0 15px 0;
    display: none;
  }
  
  .message-success {
    border-color: green;
    color: white;
    background: green;
   
    padding: 10px;
    margin: 5px 0 15px 0;
    display: none;
  }

  
  