/* Listings */

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.listings{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 !important; 
}

.search{
    margin: 20px 0;
    padding: 10px;
}

.card{
    border: none !important;
}

.card-title{
    text-transform: capitalize;
}

form input{
    border: 1px solid black;
}