.profile-header{
display: grid;
grid-template-columns: 1fr 2fr;
margin: 40px;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-menu{
display: flex;
justify-content: end;
align-items: center;
}

.profile-menu a{
    margin-right: 30px;
}

.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.my-listings, .my-bids{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 !important; 
}

.my-listings h3, .my-bids h3{
    grid-column: -1/1;
    margin-bottom: -15px;
}

.card{
    border: none !important;
}

.view-more-container{
    margin: 0 0 40px 0;
}